

$purple:#6558f5;
$lightBlue:#dfe6ed;
$navy: #1d3557;
$border:#c3cfd9;


*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}






