
@import "./App.scss";

button{
    width: fit-content;       
    color: white;
    background-color: $purple;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.navbar{

    
    background-color: $lightBlue;  
    border: 1px solid  $border;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;


    
    
    
    
    .logo-icon{
        display: flex;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            color: $navy;
            font-weight:700;
            font-size: 1.1rem;
    
        }

        img{
            transition: 0.5s;
        }

        .navbar-active{
            transform: rotateZ(450deg);
        }
    }
    


       

    .links{
        display: none;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        // background-color: aqua;

        .link{
            text-decoration: none;
            color: $navy;
            font-weight: 500;

        }
    }



   .btn-container{
        display: flex;
        justify-content: center;
        button{
            display: none;
            width: fit-content;  
            align-self: center;
            color: white;
            background-color: $purple;
            padding: 0.5rem 0.8rem;
            border-radius: 5px;
            cursor: pointer;
        }

        .links-button-active{
            display: flex;
            
        }
   }

   

    .links-button-active{
        display: flex;
        
    }
        
}



.outlet-container{
    // background-color: rgb(247, 247, 247);
    padding: 1rem;
}
.outlet-container>*{
    max-width: 1000px;
    margin-inline: auto;
}


@media (min-width:800px){

    .navbar{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2% 7%;
        

        .logo-icon{
            display: flex;
            justify-content: center;

            
         
            
            img{
                display: none;
            }
        }

        
         


        .links{
            display: flex;
            flex-direction: row;
            column-gap: 5%;  

        }
        
        .btn-container{

            display: flex;
            justify-content: center;

            button{
                display: flex;
            }

          
        }

       
    

    }
    .navbar>*{
        width: 100%;
    }
}




