* {
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  background-color: #6558f5;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.navbar {
  background-color: #dfe6ed;
  border: 1px solid #c3cfd9;
  padding: 2% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  row-gap: 1rem;
}

.navbar .logo-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo-icon .logo {
  color: #1d3557;
  font-weight: 700;
  font-size: 1.1rem;
}

.navbar .logo-icon img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .logo-icon .navbar-active {
  -webkit-transform: rotateZ(450deg);
          transform: rotateZ(450deg);
}

.navbar .links {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1rem;
}

.navbar .links .link {
  text-decoration: none;
  color: #1d3557;
  font-weight: 500;
}

.navbar .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .btn-container button {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  background-color: #6558f5;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.navbar .btn-container .links-button-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .links-button-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outlet-container {
  padding: 1rem;
}

.outlet-container > * {
  max-width: 1000px;
  margin-inline: auto;
}

@media (min-width: 800px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2% 7%;
  }
  .navbar .logo-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .logo-icon img {
    display: none;
  }
  .navbar .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 5%;
            column-gap: 5%;
  }
  .navbar .btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .btn-container button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar > * {
    width: 100%;
  }
}
/*# sourceMappingURL=Navbar.css.map */