@import "./App.scss";


.transaction-page{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;



    .left-col{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .sidebar{
            border: 2px solid $border;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            align-items: center;
            
            .item{
                display: flex;
                // justify-content: space-between;
                column-gap: 0.5rem;

                .volume{
                    font-weight: 500;
                    font-size: 1.1rem;
                }
            }
        }
    }

    .right-col{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        border: 2px solid $border;
        background-color: $lightBlue;
        padding: 1rem;


        .transaction-options-info{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .transaction-options{
                button{
                    font-size: 0.8rem;
                    padding: 0.5rem;
                    border-radius: 2px;
                    background-color: white;
                    color: $purple;
                    border: 1px solid $purple;
                    text-transform: capitalize;
                }
            }

            img{
                width: 25px;
            }
        }

        .transaction{
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            background-color: white;
            border: 2px solid $border;
            padding: 0.5rem;

            img{
                width: 50px;
                align-self: center;
            }

            .currency-volume{
                display: flex;
                width: 100%;
                
                column-gap: 0.5rem;

                input{
                    border: 2px solid $border;
                    width: 100%;
                    border-radius: 5px;
                    padding: 0.2rem;
                    outline: $purple;
                }

                select{
                    border: 2px solid $border;
                    border-radius: 5px;
                    padding: 0.1rem;
                    font-size: 0.8rem;
                }
            }
            
        }

    }

}

@media (min-width:800px){

    .transaction-page{
        flex-direction: row;
        padding-top: 2rem;

        column-gap: 4rem;
        justify-content: center;

    }



}